{% extends 'base.html.twig' %}

{% block title %}Issues{% endblock %}

{% block body %}
    <h2>Issues</h2>
    <h3>total number of issues: {{ issues|length }}</h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Subject</th>
                <th>Author</th>
                <th>Spended time</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td rowspan="2">{{ loop.index }}</td>
                <td><b>{{ issue.subject }}</b></td>
                <td style="text-align: center;">{{ issue.author.name }}</td>
                <td style="text-align: center;">{{ issue.spendedTime }}</td>
            </tr>
            <tr>
                <td colspan="4">{{ issue.description }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right;"><a href="{{ path('redmine_viewer_add_comment', {'issueId': issue.id}) }}">Add comment</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
